<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>
            {{ product.name | uppercase }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ product.price | currency:'EUR' }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem ipsum
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>BUY</button>
        <button mat-button [routerLink]="['details', product.id]">VIEW</button>
    </mat-card-actions>
</mat-card>