<mat-toolbar color="primary">
    <span>My Application</span>
    <!-- spacer -->
    <span class="space"></span>
    <!-- links -->
    <nav>
        <span class="menu-item" routerLink="/home" routerLinkActive="current">Home</span>
        <span class="menu-item" routerLink="/syntax" routerLinkActive="current">Syntax</span>
        <span class="menu-item" routerLink="/products" routerLinkActive="current">Products</span>
        <span class="menu-item" routerLink="/login" routerLinkActive="current">Login</span>
    </nav>
</mat-toolbar>