<h1>
    <!-- interpolation "explicite" - {{  }} -->
    <!-- expression angular -->
    Welcome to {{ title }}
</h1>
<p>The result of 1 + 1 is {{ 1 + 1 }}</p>
<p>Some expression {{ title + ' some text...'}}</p>

<div>
    <!-- event binding -->
    <button (click)="actionBtn($event)">Action button</button>
    <!-- <button on-click="actionBtn($event)">Action button</button> -->
</div>
<hr>
<div>
    <!-- property binding -->
    <!-- the attribute link to property value -->
    <button [disabled]="btnDisabled === false">Disabled button</button>
</div>
<hr>
<div>
    <!-- pipes -->
    <!-- template or expression function -->
    <p>My app name is {{ title | uppercase }}</p>
    <p>Date: {{ today | date: 'dd/MM/yyyy' }}</p>
</div>
<hr>
<div>
    <button (click)="displayText()">Display text</button>
    <!-- attributes directives -->
    <p [hidden]="!txtDisplayed">Mon texte</p>
    <!-- structural directives -->
    <p *ngIf="txtDisplayed else empty">Mon texte 2</p>
    <!-- Complete Syntax -->
    <ng-template [ngIf]="txtDisplayed" [ngIfElse]="empty">
        <p>Mon text 3</p>
    </ng-template>
    <!-- # = template variable -->
    <ng-template #empty>
        Text is hidden
    </ng-template>
</div>
<hr>
<div>
    <!-- template variable -->
    <input type="text" name="" value="test" id="inputText" #myInput>
    {{ myInput.id }}
</div>
<hr>
<div>
    <ng-container>
        <p>My text</p>
    </ng-container>
    <!-- <app-card *ngFor="let p of products"> -->
    <ng-container *ngFor="let p of products">
        <ul class="{{p.price}}">
            <!--  = (name) ? : ''; ... -->
            <li>{{ p?.name }}</li>
            <li>{{ p.price | currency:'EUR' }}</li>
            <li>---</li>
        </ul>
        <p>....</p>
    </ng-container>
    <!-- 
      <ng-template [ngFor]...>
        <li>....</li>
        <li>....</li>
      </ng-template>
     -->

    <button [disabled]="products.length <= 3">Add</button>
</div>